body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background: url(./images/SmurfsCot4A.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
  background-color: lightblue;
  padding: 10px;
}

.header {
  width: 100vw;
  background-color: lightblue;
  border-bottom: black solid 1px;
  display: flex;
  justify-content: center;
}
