body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

html {
  height: 100%;
  /* background: url(./images/SmurfsCot4A.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.logo {
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
  background-color: lightblue;
  padding: 10px;
}

.header {
  width: 100vw;
  background-color: lightblue;
  border-bottom: black solid 1px;
  display: flex;
  justify-content: center;
}

.background {
  background-image: url(./images/SmurfsCot4A.jpg);
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-smurf {
  background-color: #88ccff;
}
